<table class="table-bordered delete_icon">
  <%if org.present?%>
    <% @contacts.each do |contact|%>
      <tr>
      <% org.org_fields.each do | single_org | %>
        <td class="contact_td" id="<%= contact.id%>_<%= single_org.field_no %>"><%#= contact.send(single_org.field_no) %>
          <%= best_in_place contact, single_org.field_no.to_sym %>
        </td>
      <%end%>
      <td>  
        <%= Group.find(contact.group_id).name %>
      </td>
      <td class="last_column">
        <%= check_box_tag 'contact_ids[]', contact.id, false, style: 'margin:7px' %>
      </td>
      </tr>    
    <%end%>
  <%end%>
</table>
<script>
$(".contact_td").click(function(e){
  if ( e.target === this ) {
    $("#best_in_place_contact_"+this.id).trigger( "click" );
  }
})

</script>