<table class="table-bordered delete_icon">
  <%if org.present?%>
    <% @contacts.each do |contact|%>
      <tr>
      <% org.org_fields.each do | single_org | %>
        <td><%#= contact.send(single_org.field_no) %>
          <%=best_in_place contact, single_org.field_no.to_sym %>
        </td>
      <%end%>
      <td>  
        <%= Group.find(contact.group_id).name %>
      </td>
      <td class="last_column">
        <%= check_box_tag 'contact_ids[]', contact.id, false, style: 'margin:7px' %>
      </td>
      </tr>    
    <%end%>
  <%end%>
</table>
<%if @contacts.present?%>
<!--   <div class="delete_form">
    <%=form_for :contact, url: destroy_contacts_path , method: :delete, remote: true do |f|%>
      <%=f.hidden_field :org_id, value: org.id%>
      <%=f.submit 'Remove',style: 'margin-top:50px;'%>
    <%end%>
  </div> -->
<%end%>