<h1>New group</h1>
<br/>
<table class="table" style="width:100px !important">
	<%=form_for :group, url: organization_create_group_path(params[:organization_id]), method: :post do |f| %>
	<tr>
		<th><%=f.label :name%></th>
		<td><%=f.text_field :name%></td>
	</tr>
	<tr>
		<th><%=f.hidden_field :organization_id, value: params[:organization_id]%></th>
		<td><%=f.submit :class=>"btn btn-primary" %></td>
	</tr>
	<%end%>
</table>