<h1>New Column</h1>
<br/>
<%=form_for :org_fields, url: organization_create_fields_path(params[:organization_id]), method: :post do |f| %>
	<table class="table" style="width:280px !important">
		<%= f.hidden_field :field_no, value: "f"+(@count+1).to_s%>
	    <tr>
			<th><%=f.label :name%></th>
			<td><%=f.text_field :name%></td>
		</tr>
		<tr>
			<th><%=f.label :data_type%></th>
			<td><%=f.select :data_type, options_for_select(["INT", "VARCHAR", "TEXT", "DATE"]) %></td>
		</tr>
		<tr>
			<th><%=f.hidden_field :organization_id, value: params[:organization_id]%></th>
			<td><%=f.submit "Create Field", :class=>"btn btn-success" %></td>
		</tr>
	</table>
<%end%>

   