<h1>New Column</h1>
<%=form_for :org_fields, url: organization_create_fields_path(params[:organization_id]), method: :post do |f| %>
   <%=f.hidden_field :organization_id, value: params[:organization_id]%>
   <%=f.label :field_no%>
   <%= f.select :field_no, options_for_select(@fields) %><br/>
   <%=f.label :name%>
   <%=f.text_field :name%><br/>
   <%=f.label :data_type%>
   <%=f.text_field :data_type%><br/>
   <%=f.submit %>
<%end%>