<h1>New field</h1>
<%=form_for :org_fields, url: organization_create_fields_path(params[:organization_id]),method: :post do |f| %>
   <%=f.hidden_field :organization_id,:value=> params[:organization_id]%>
   <%=f.label :field_no%>
   <%= f.select :field_no, options_for_select([["Select", ""], "f1", "f2", "f3", "f4", "f5", "f6", "f7", "f8", "f9", "f10"]) %><br/>
   <%=f.label :name%>
   <%=f.text_field :name%><br/>
   <%=f.label :data_type%>
   <%=f.text_field :data_type%><br/>
   <%=f.submit %>
<%end%>