<%#=link_to 'Home', root_path%>
<div class="stick" id="header_div">  
  <table class="table-bordered header">
    <!-- For filter purpose of contacts-->
      <%= form_tag organization_path(@org.id), method: :get, id: "contacts_search" do %>
        <tr>
          <% @org.org_fields.each do | single_org | %>
            <td><input id="<%= single_org.field_no %>" name="search_field[<%= single_org.field_no %>]" type="text" placeholder="Search <%= single_org.name %>" class="input_textboxes"><%#= text_field_tag :first_name %></td>
          <% end %>
            <td></td>
            <td class="last_column">All<input type="checkbox"  id="select_all"/></td> 
        </tr>
      <% end %>
      <%if @org.present?%>
        <tr>
          <% @org.org_fields.each do | single_org | %>
            <th><%= single_org.name %></th>
          <% end %>
          <th><%= "Group" %></th>
          <th class="last_column">
            <b><%=link_to '+',organization_new_fields_path(@org.id)%></b>
          </th>
        </tr>
      <% end %>
  </table>


</div>
<!-- For display contacts list-->
<div id="cresults_div"><%= render 'contacts/cresults', org: @org %></div>

<div class="stick" id="footer_div"> 
  
  <div class="pull-right">
    <div class='fancy-file'>
      Upload CSV:
      <%= image_tag("Upload.png", :border => 0, :style=>"width: 44px; height: 42px;",:title=>"Upload CSV", :class =>"state")%>
        <div class='input-container'>
          <%= form_for @organisation, :url=>upload_csv_path, :html => {multipart: true} do |f| %>
            <%= file_field_tag "file", :onchange=> "uploadFile()" , :style=>"height: 45px; width: 45px;" %>
            <%= hidden_field_tag "default_group_id", @groups.first.id%>
            <%= f.submit "submit", :id=>"submit_csv_form" %>
          <% end %>
        </div>
      
    </div>
    <div style="margin-top: -40px ! important;">
      Download CSV:
      <%= link_to image_tag("Download.png", :border => 0, :style=>"width: 41px; height: 35px;",:title=>"Downlod CSV"),organization_path(format: "csv")%>
      <%= link_to "Remove" , "",:id=>"remove_contacts", :class=>"btn btn-danger", :remote => true%>
    </div>
  </div>
  <table class="table-bordered delete_icon">
    <tr>
      <%=form_for :contact, url: contacts_path, method: :post do |f|%>
        <% @org.org_fields.each do | single_org | %>
        <td>
          <%=f.text_field "#{single_org.field_no}", :class=>"footer_input input_textboxes", :placeholder=>single_org.name%>
        </td>
        <% end %>
        <td><%= f.collection_select :group_id, @groups, :id, :name %></td>
        <td class="last_column" ><%=f.submit 'save', :type => :image, :src => "/assets/enter.png" , :style=>"width:15px;" %></td>
      <%end%>
    </tr>
  </table>
</div>

<div class="load" style="display:none;"></div>

<script type="text/javascript">

   $("#select_all").click(function(event){
      $("#cresults_div").find('input:checkbox').prop('checked', this.checked);    
   });


  function uploadFile() {
    $( "#submit_csv_form" ).trigger( "click" );
  }


  $("#remove_contacts").click(function(){
      $(".load").show();
      var searchIDs = $("input:checkbox:checked").map(function(){
        return $(this).val();
      }).get(); // <----

      $.ajax({
          type: "post",
          url: "<%= destroy_contacts_path %>", //sumbits it to the given url of the form
          data: { selected_contact_ids: searchIDs },
          success: function(){ $(".load").hide(); $("#select_all").prop('checked', "");  return false; } 
      });
  });

</script>

<script>
  $(function(){
    <% @org.org_fields.each do | single_org | %>
      $("#<%= single_org.field_no %>").keyup(function() {
        $.get($("#contacts_search").attr("action"), $("#contacts_search").serialize(), null, "script");
        $(".load").show();
        return false;
    });
    <% end %>
  });
</script>